$primary: #eeaf26;
$secondary: #ffffff;

@import "~bootstrap/scss/bootstrap";

.nav-background {
    background: linear-gradient(#0c0c0c, rgba(250, 250, 251, 0));
    background-color: #052219;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.15);
}

.footer-background {
    background: linear-gradient(rgba(250, 250, 251, 0), #0c0c0c);
    background-color: #052219;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.15);
}



.rate {
    display:flex;
    flex-flow: row-reverse;
    justify-content: left;
}

.rate input[type="radio"] {
    display: none;
}

.rate:not(:checked)>label {
    float: right;
    width: 1em;
    overflow: hidden;
    white-space: nowrap;
    cursor: pointer;
    font-size: 30px;
    color: #ccc;
}

.rate:not(:checked)>label:before {
    content: '★ ';
}

.rate>input:checked~label {
    color: #ffc700;
}

.rate.enabled:not(:checked)>label:hover,
.rate.enabled:not(:checked)>label:hover~label {
    color: #deb217;
}

.rate.enabled>input:checked+label:hover,
.rate.enabled>input:checked+label:hover~label,
.rate.enabled>input:checked~label:hover,
.rate.enabled>input:checked~label:hover~label,
.rate.enabled>label:hover~input:checked~label {
    color: #c59b08;
}


.overlay {
    z-index: 10;
    left:0;
    right:0;
    background-color:#12121260;
    //linear-gradient(0deg, rgba(0, 0, 0, 0.9) 0%, rgba(0, 0, 0, 0) 50%);
}

.z-0 {
    z-index:0;
}

.z-50 {
    z-index:50;
}

.form-button {

    background-color: #eeaf26;
    border-radius: 8px;
    border-width: 0;
    color: #000000;
    cursor: pointer;
    display: inline-block;
    font-family: "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    list-style: none;
    margin: 0;
    padding: 10px 12px;
    text-align: center;
    transition: all 200ms;
    vertical-align: baseline;
    white-space: nowrap;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
        
}